<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.USERSDBConnectionString"
            connectionString="Data Source=DESKTOP-9TLFS8I;Initial Catalog=USERSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>