<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog =usersdb; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="usersdb.Properties.Settings.usersdbConnectionString"
      connectionString="Data Source=DESKTOP-RLDAVIH;Initial Catalog=Users;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    />
  </connectionStrings>
</configuration>